.confirm:hover {
    background-color: green;
}
.confirm:hover .hidden {
    display: inline-block;
}

.details-modal {
    background: #ffffff;
    border-radius: 0.5em;
    border-color: #75767a;
    border: 1px solid transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.673); 
    left: 50%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  
}
  
    .details-modal-close {
      align-items: center;
      color: #111827;
      font-size: large;
      display: flex;
      height: 3.5em;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 4em;
    }
  

  
    .details-modal-title {
      color: #111827;
      padding: 1.0em 2em;
      pointer-events: all;
      position: relative;
      width: calc(100% - 4.5em);
      font-size: 1.25rem;
      font-weight: 600;
      line-height: normal;
      
    }

  
    .details-modal-content {
      border-top: 1px solid #e0e0e0;
      padding: 1.5em;
      pointer-events: all;
      overflow: auto;
      text-align: justify;
    }
  
  

  
  .details-modal-overlay {
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    background: rgba(#0f172a, 0.8);
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  
  }
  

.container {
    filter: blur(4px);
    pointer-events: none;
}